<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inf8402.tps.tp1.bejeweled"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.inf8402.tps.tp1.bejeweled.activity.GameMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inf8402.tps.tp1.bejeweled.activity.GameModeActivity"
            android:label="@string/title_activity_game_mode" >
        </activity>
        <activity
            android:name="com.inf8402.tps.tp1.bejeweled.activity.GameScoreActivity"
            android:label="@string/title_activity_game_score" >
        </activity>
        <activity
            android:name="com.inf8402.tps.tp1.bejeweled.activity.GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
    </application>

</manifest>